# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv/

# Environment variables
.env

# Project Roadmap
project_roadmap.docx
project_roadmap_ver2.docx
project_roadmap_ver3.docx

# old_functions folder
old_functions

# github folder structure
github_folder_structure.rtf